---
layout: illustrations
brand: illustrations-characters
title: Characters
description: Discover IRA characters to power up your project.
img: ira_elements.png
meta_title: Illustrations Characters
meta_description: Discover IRA characters to power up your project.
canonical: https://iradesign.io/illustrations/characters
keywords: illustration, app, website illustration, app illustration, design component, custom illustration, illustration component, color gradient, gradients, gallery, best illustrations, colorful illustrations
fb_app_id: 655968634437471
og_url: https://iradesign.io/illustrations/characters
permalink: /illustrations/characters
---


<div class="section section-characters">
  <div class="container">
    <div class="row">
     </div>
     <img src="{{ path-general }}/assets/img/character-bg.png" class="bg-ch">
     <div class="row">
       <div class="col-sm-4 col-6 text-center hover-on girl-hand-up">
         {% include characters/character1.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on women-check-phone" style="padding-top:50px;">
         {% include characters/character2.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:50px">
         {% include characters/character3.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on girl_laptop" style="padding-top:240px;">
         {% include characters/character4.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on man-simple" style="padding-top:150px">
         {% include characters/character5.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on man-lift" style="padding-top: 170px;">
         {% include characters/character6.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:100px">
         {% include characters/character7.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:100px;">
         {% include characters/character8.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:100px;">
         {% include characters/character9.html %}
       </div>

       <div class="col-sm-4 col-6 col-offset-2 text-center hover-on boy-hand-up" style="padding-top:150px">
         {% include characters/character10.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on child-girl" style="padding-top:150px">
         {% include characters/character11.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character12.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character13.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character14.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character15.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character16.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
          {% include characters/character17.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character18.html %}
       </div>

       <div class="col-sm-4 col-6 text-center hover-on" style="padding-top:150px">
         {% include characters/character19.html %}
       </div>

     </div>
   </div>
 </div>
