---
layout: illustrations
brand: illustrations-backgrounds
title: Backgrounds
description: Discover IRA backgrounds to power up your project.
img: ira_elements.png
meta_title: Illustrations Backgrounds
meta_description: Discover IRA backgrounds to power up your project.
canonical: https://iradesign.io/illustrations/backgrounds
keywords: illustration, app, website illustration, app illustration, design component, custom illustration, illustration component, color gradient, gradients, gallery, best illustrations, colorful illustrations
fb_app_id: 655968634437471
og_url: https://iradesign.io/illustrations/backgrounds
permalink: /illustrations/backgrounds
---



<div class="section section-backgrounds" id="backgrounds">
   <div class="container">
     <form>
       <div class="form-group w-50 m-auto">
          <input type="text" id="searchInput" onkeyup="Function()" class="form-control" aria-label="Search" placeholder="Search backgrounds">
          <p class="d-none text-center mt-3 desc" id="no-result">No results found</p>
       </div>
     </form>
    <div class="row px-sm-5" id="elements">
      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background1.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background2.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background3.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background4.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background5.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background6.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background7.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background8.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background9.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background10.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background11.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background12.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background13.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background14.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background15.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background16.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background17.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background18.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background19.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background20.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background21.html %}
      </div>

      <div class="col-lg-4 col-12 my-sm-5 my-4 hover-on text-center">
        {% include backgrounds/background22.html %}
      </div>
    </div>
  </div>
</div>
