<div class="section section-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-12 text-left">
        <h2 class="title text-dark font-weight-bold">Give it a chance</h2>
        <h4 class="desc text-gray">
          IRA comes with a great variety of ready-to-use features, gradients and components. You can use the samples as they are or you can add new block from the UI Kit.
        </h4>
        <a class="github-button" href="https://github.com/ira-design/ira-illustrations" data-icon="octicon-star" data-show-count="true" aria-label="Star ira-design on GitHub">Star</a>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="info">
          <img src="{{ path-general }}/assets/img/fordeveloper.png">
          <div class="description">
            <h4 class="info-title text-dark">For developers</h4>
            <p class="desc text-gray">
              Start building your mobile app in no time. Simply select the components you like
              and start customising to suit your needs.
            </p>
            <a href="https://github.com/ira-design/ira-illustrations/blob/SVG/SVG.zip?raw=true" class="btn btn-fill btn-dark" target="_blank">Download SVG</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="info">
          <img src="{{ path-general }}/assets/img/fordesigner.png">
          <div class="description">
            <h4 class="info-title text-dark">For designers</h4>
            <p class="desc text-gray">
              Build an app you love. 200+ individually designed components,
              each with a specific purpose.
            </p>
            <a href="https://github.com/ira-design/ira-illustrations/blob/PNG/PNG.zip?raw=true" class="btn btn-fill btn-dark">Download PNG</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="info">
          <img src="{{ path-general }}/assets/img/examples.png">
          <div class="description">
            <h4 class="info-title text-dark">Explore gallery</h4>
            <p class="desc text-gray">
               Discover IRA illustrations and use them in a commercial or non-commercial way to power up your projects.
            </p>
            <a href="/gallery/illustrations" class="btn btn-fill btn-dark">Gallery</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
</div>
