<div class="col-lg-6 m-auto text-center section-help">
   <h2 class="title text-dark font-weight-bold">We are here for you</h2>
   <h4 class="desc text-gray mb-3">
     IRA Design helps you scale your final illustrations and bring them to life. Please open a GitHub issue or send an email and tell us what would you like
     more to have on IRA.
   </h4>
   <a class="btn btn-outline-dark" href="https://github.com/ira-design/ira-illustrations/issues" target="_blank"><i class="fab fa-github mr-1"></i>Github</a>
   <a class="btn btn-outline-dark" href="mailto:iradesign.io@gmail.com" target="_blank"><i class="fa fa-paper-plane mr-1"></i>Contact us</a>

  <div class="space-180"></div>
</div>
