<div class="col-lg-6 m-auto text-center">
   <h2 class="title">We are here for you</h2>
   <h4 class="desc mb-3">
     IRA Design helps you scale your final illustrations and bring them to life. Please open a GitHub issue and tell us what would you like
     more to have on IRA.
   </h4>
<a class="github-button" href="https://github.com/ira-design/ira-illustrations/issues" data-size="large" aria-label="Issue ira-design/ira-illustrations on GitHub">Issue</a>
<div class="space-50 d-sm-block d-none"></div>
</div>
