<footer class="footer">
  <div class="container">
      <nav class="pull-left">
          <ul>
              <li>
                  <a href="https://www.creative-tim.com/terms?ref=iradesign-footer" target="_blank">
                      Terms & Conditions
                  </a>
              </li>
              <li>
                  <a href="https://www.creative-tim.com/license?ref=iradesign-footer" target="_blank">
                      Licenses
                  </a>
              </li>
							<li>
                  <a href="https://www.creative-tim.com/faq?ref=iradesign-footer" target="_blank">
                      FAQ
                  </a>
              </li>
              <li>
                <a href="https://blog.creative-tim.com?ref=iradesign-footer" target="_blank">
                   Blog
                </a>
              </li>
          </ul>
      </nav>
      <div>
				<div class="copyright">
						© 2019 <a href="https://www.creative-tim.com?ref=iradesign-footer">Creative Tim</a>, made with love for a better web.
				</div>
      </div>

  </div>
</footer>
