
{% if page.brand == "index" %}

{% assign info = site.data.index %}

{% elsif page.brand == "gallery" %}

{% assign info = site.data.gallery %}

{% endif %}

<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ path-general }}/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ path-general }}/assets/img/favicon.png">
	<meta https-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>IRA Design - {{ info.title }} @ Creative Tim</title>

	<!-- Canonical SEO -->
	<link rel="canonical" href="{{ info.canonical }}">

	<!--  Social tags      -->
	<meta name="keywords" content="{{ info.keywords }}">

	<meta name="description" content="{{ info.description }}">

	<!-- Twitter Card data -->

	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@creativetim">
	<meta name="twitter:title" content="IRA Design by Creative Tim">

	<meta name="twitter:description" content="{{ info.description }}">
	<meta name="twitter:creator" content="@creativetim">
	<meta name="twitter:image" content="https://raw.githack.com/ira-design/ira-design.github.io/master/assets/img/iradesign.jpg">
	<meta name="twitter:data1" content="IRA Design by Creative Tim">
	<meta name="twitter:label1" content="Product Type">
	<meta name="twitter:label2" content="Price">

	<!-- Open Graph data -->
	<meta property="fb:app_id" content="655968634437471">
	<meta property="og:title" content="IRA Design by Creative Tim">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ info.og_url }}">
	<meta property="og:image" content="https://raw.githack.com/ira-design/ira-design.github.io/master/assets/img/iradesign.jpg">
	<meta property="og:description" content="{{ info.description }}">
	<meta property="og:site_name" content="IRA Design">

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
	<meta name="viewport" content="width=device-width" />

	<link href="{{ path-general }}/assets/bootstrap-4/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ path-general }}/assets/css/gsdk.css" rel="stylesheet"/>

	<link href="{{ path-general }}/assets/css/new-css.css" rel="stylesheet" />

	{% if page.brand == 'gallery' %}

	<style type="text/css">
    .st0{fill:#4B49BB;}
    .st5{opacity:7.000000e-02;enable-background:new    ;}
    .st6{fill:#FFFFFF;}
  </style>

	{% endif %}

	<!--     Fonts and icons     -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ path-general }}/assets/css/icons.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MBT68RX');</script>
<!-- End Google Tag Manager -->
