<nav class="navbar navbar-expand-md navbar-default" role="navigation-demo">
  <div class="container">
   <a class="navbar-brand" href="{{ path-general }}/"><img src="{{ path-general }}/assets/img/ira-logo.png"style="width:50%;"/></a>
   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation-default">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   <div class="collapse navbar-collapse" id="navigation-default">
     <ul class="navbar-nav ml-auto">
       <li>
         <a class="nav-link social btn-github px-lg-2 px-1" href="https://github.com/ira-design/ira-illustrations" target="_blank">
           <i class="fab fa-github"></i>
           <span class="d-lg-none d-md-none ml-2">GitHub</span>
         </a>
       </li>

       <li>
         <a class="nav-link social btn-facebook px-lg-2 px-1" href="https://www.facebook.com/CreativeTim/" target="_blank">
           <i class="fab fa-facebook-square"></i>
           <span class="d-lg-none d-md-none ml-2">Facebook</span>
         </a>
       </li>

       <li>
         <a class="nav-link social btn-twitter px-lg-2 px-1" href="https://twitter.com/CreativeTim" target="_blank">
           <i class="fab fa-twitter"></i>
           <span class="d-lg-none d-md-none ml-2">Twitter</span>
         </a>
       </li>
       <li>
         <div class="dropdown">
           <button class="btn d-none d-md-block btn-default btn-fill dropdown-toggle ml-lg-4 ml-2 px-lg-3 px-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-cloud-download-alt mr-1"></i>Download <span class="caret"></span>
           </button>
           <div class="dropdown-menu pr-2 pl-0 pb-0" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/SVG/SVG.zip?raw=true">Download SVG</a>
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/PNG/PNG.zip?raw=true">Download PNG</a>
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/ALL/PNG%2BSVG.zip/?raw=true">Download ALL</a>
           </div>
         </div>
       </li>
       <a class="btn mr-md-3 px-lg-3 px-2" href="/gallery/illustrations">
         <i class="fa fa-box mr-1"></i>Gallery
       </a>

       <li>
         <div class="dropdown">
           <button class="btn w-100 dropdown-toggle px-lg-3 px-2" type="button" id="dropdownIllustrations" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-box mr-1"></i>Illustrations <span class="caret"></span>
           </button>
           <div class="dropdown-menu pr-2 pl-0 pb-0" aria-labelledby="dropdownIllustrations">
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations">All illustrations</a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/backgrounds">Backgrounds</a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/objects">Objects</a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/objects"><span class="ml-3">Color</span></a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/outline/objects"><span class="ml-3">Outline</span></a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/characters">Characters</a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/characters"><span class="ml-3">Color</span></a>
             <a class="dropdown-item py-2" href="{{ path-general }}/illustrations/outline/characters"><span class="ml-3">Outline</span></a>
           </div>
         </div>
       </li>
     </ul>
   </div>
 </div>
</nav>
