<nav class="navbar navbar-expand-md navbar-default" role="navigation-demo">
  <div class="container">
   <a class="navbar-brand" href="./index.html"><img src="assets/img/ira-logo.png"style="width:25%;"/></a>
   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation-default">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   <div class="collapse navbar-collapse" id="navigation-default">
     <ul class="navbar-nav ml-auto">
       <a class="btn btn-info mr-md-4" href="./examples.html">
         See examples
       </a>
       <li>
         <a class="nav-link social btn-facebook" href="https://www.facebook.com/CreativeTim/" target="_blank">
           <i class="fab fa-facebook-square"></i>
           <span class="d-lg-none d-md-none ml-2">Facebook</span>
         </a>
       </li>
       <li>
         <a class="nav-link social btn-instagram" href="https://www.instagram.com/creativetimofficial" target="_blank">
           <i class="fab fa-instagram"></i>
           <span class="d-lg-none d-md-none ml-2">Instagram</span>
         </a>
       </li>
       <li>
         <a class="nav-link social btn-twitter" href="https://twitter.com/CreativeTim" target="_blank">
           <i class="fab fa-twitter"></i>
           <span class="d-lg-none d-md-none ml-2">Twitter</span>
         </a>
       </li>
       <li>
         <div class="dropdown">
           <button class="btn d-none d-md-block btn-default btn-fill dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-cloud-download-alt"></i>Download <span class="caret"></span>
           </button>
           <div class="dropdown-menu pr-2 pl-0 pb-0" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/SVG/SVG.zip?raw=true">Download SVG</a>
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/PNG/PNG.zip?raw=true">Download PNG</a>
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/ALL/PNG%2BSVG.zip/?raw=true">Download ALL</a>
           </div>
         </div>
       </li>
     </ul>
   </div>
 </div>
</nav>
