<nav class="navbar navbar-expand-md navbar-default py-2" role="navigation-demo">
  <div class="container">
   <div class="navbar-brand pl-0 my-0 py-0 d-flex">
     <a href="{{ path-general }}" style="width:14%;">
       <img src="{{ path-general }}/assets/img/ira-logo-pen.png" class="w-100"/>
     </a>
     <div class="d-flex flex-column">
       <a href="{{ path-general }}" class="text-ira text-lg">
         Ira Design
       </a>
       <a href="https://www.creative-tim.com/" target="_blank" class="text-dark text-sm">
         <span>by Creative Tim</span>
       </a>
      </div>
   </div>
   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation-default">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   <div class="collapse navbar-collapse" id="navigation-default">
     <ul class="navbar-nav ml-auto align-items-center">
       <a class="btn btn-simple btn-dark w-100 px-lg-3 px-2 pt-1 mt-2" href="/gallery/illustrations">
         <i class="fa fa-box opacity-7 mr-1"></i>
         Gallery
       </a>

       <li>
         <div class="dropdown">
           <button class="btn btn-simple btn-dark w-100 dropdown-toggle px-lg-3 px-2" type="button" id="dropdownIllustrations" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-palette opacity-7 mr-1"></i>Illustrations <span class="caret"></span>
           </button>
           <div class="dropdown-menu border-0 pr-2 pl-0 pb-0" aria-labelledby="dropdownIllustrations">
             <a class="dropdown-item py-1 pl-2 text-uppercase d-flex align-items-center mt-3" href="{{ path-general }}/illustrations">
               <img src="{{ path-general }}/assets/img/pen-gradient.png" class="w-15 mr-1">
               <span class="opacity-6 text-sm">Gradient</span>
             </a>
              <a class="dropdown-item py-1" href="{{ path-general }}/illustrations/characters">Characters</a>
              <a class="dropdown-item py-1" href="{{ path-general }}/illustrations/objects">Objects</a>
              <a class="dropdown-item py-1" href="{{ path-general }}/illustrations/backgrounds">Backgrounds</a>
             <a class="dropdown-item py-1" href="{{ path-general }}/illustrations">All illustrations</a>
             <a class="dropdown-item py-1 pl-2 text-uppercase d-flex align-items-center mt-3" href="{{ path-general }}/illustrations">
               <img src="{{ path-general }}/assets/img/pen-outline.png" class="w-15 mr-1">
               <span class="opacity-6 text-sm">Outline</span>
             </a>
             <a class="dropdown-item py-1" href="{{ path-general }}/illustrations/outline/characters">Characters</a>
             <a class="dropdown-item py-1 mb-3" href="{{ path-general }}/illustrations/outline/objects">Objects</a>
           </div>
         </div>
       </li>

       <li>
         <div class="dropdown">
           <button class="btn btn-dark d-none d-md-block btn-default btn-fill dropdown-toggle ml-lg-4 ml-2 px-lg-3 px-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-cloud-download-alt mr-1"></i>Download <span class="caret"></span>
           </button>
           <div class="dropdown-menu border-0 pr-2 pl-0 pb-0" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/SVG/SVG.zip?raw=true">Download SVG</a>
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/PNG/PNG.zip?raw=true">Download PNG</a>
             <a class="dropdown-item py-2" href="https://github.com/ira-design/ira-illustrations/blob/ALL/PNG%2BSVG.zip/?raw=true">Download ALL</a>
           </div>
         </div>
       </li>
     </ul>
   </div>
 </div>
</nav>
