{% assign path-assets = '' %}
{% assign path-pages = '' %}
{% assign path_size_minus = '' %}

{% if page.layout == 'local-doc' %}
  {% assign path_size_minus = 0 %}
{% else %}
  {% assign path_size_minus = site.path_size_minus %}
{% endif %}


{% assign depth = page.url | split: '/' | size | minus: 1 | minus: path_size_minus %}
{% if    depth <= 1 %}
        {% assign path-assets = '.' %}

{% elsif depth == 2 %}
        {% assign path-assets = '..' %}
        {% assign path-pages = '.' %}

{% elsif depth == 3 %}
        {% assign path-assets = '../..' %}
        {% assign path-pages = '..' %}
{% elsif depth == 4 %}
        {% assign path-assets = '../../..' %}
        {% assign path-pages = '../..' %}
{% elsif depth == 5 %}
        {% assign path-assets = '../../../..' %}
        {% assign path-pages = '../../..' %}
{% endif %}



{% assign path-general = '' %}

{% if page.layout == 'docs' %}
  {% if site.product_path == "" %}
    {% assign path-general = '../../..' %}
  {% else %}
    {% assign path-general = '../../../..' %}
  {% endif %}
{% elsif page.layout == 'local-doc'%}
  {% if site.product_path == "" %}
    {% assign path-general = '..' %}
  {% else %}
    {% assign path-general = '../..' %}
  {% endif %}
{% else %}
  {% assign path-general = path-assets %}
{% endif %}
