<div class="svg">
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
  <svg id="Laptop" class="gradient-object" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 537.98 236.74">
    <linearGradient class="gradient-object" id="linear-gradient-laptop" class= x1="172.47" y1="121.17" x2="537.97" y2="121.17" gradientUnits="userSpaceOnUse">
      <stop offset="0" class="stop1"/>
      <stop offset="1" class="stop2"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2-laptop" x1="681.86" y1="652.05" x2="859.56" y2="652.05" gradientUnits="userSpaceOnUse">
      <stop offset="0" class="stop1"/>
      <stop offset="1" class="stop2"/>
    </linearGradient>
    <linearGradient id="linear-gradient-3-laptop" x1="854.59" y1="541.91" x2="1219.84" y2="541.91" gradientUnits="userSpaceOnUse">
      <stop offset="0" class="stop1"/>
      <stop offset="1" class="stop2"/>
    </linearGradient>
    <polyline style="fill:url(#linear-gradient-laptop);" points="178.26 236.74 491.52 223.79 537.98 5.61 219.99 8.19 172.47 236.61"/>
    <ellipse style="fill:#fff;" cx="359.24" cy="127.84" rx="18.99" ry="20.1"/>
    <path style="fill:url(#linear-gradient-2-laptop);" d="M857.36,644.13l-171-.18a2.19,2.19,0,0,0-2.15,1.71l-2.3,10.27a2.18,2.18,0,0,0,2.13,2.65l170.36,1.56a2.19,2.19,0,0,0,2.15-1.65l2.94-11.65A2.18,2.18,0,0,0,857.36,644.13Z" transform="translate(-681.86 -423.55)"/>
    <path style="fill:url(#linear-gradient-3-laptop);" d="M896.61,425.76l318-2.21a1.5,1.5,0,0,1,1.18.56l4.07,5.05-316.75,2.56a1.5,1.5,0,0,0-1.46,1.23L860.38,659a1.5,1.5,0,0,1-1.52,1.23l-2.81-.08a1.5,1.5,0,0,1-1.44-1.75L894,428A2.63,2.63,0,0,1,896.61,425.76Z" transform="translate(-681.86 -423.55)"/>
  </svg>
</div>

<h3 class="h5 text-capitalize">laptop illustration</h3>

<div class="download-buttons">
  <a class="btn btn-round" onclick="download_png('#Laptop')">PNG</a>
  <a class="btn btn-round" onclick="download_svg('#Laptop')">SVG</a>
</div>
