<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="gradient-object" id="card" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 323.82 204.36">
  <title>card</title>
  <linearGradient id="linear-gradient-card" x1="0.57" y1="102.18" x2="323.82" y2="102.18" gradientUnits="userSpaceOnUse">
    <stop offset="0" class="stop1"/>
    <stop offset="1" class="stop2"/>
  </linearGradient>
  <rect style="fill:url(#linear-gradient-card);" x="0.57" width="323.25" height="204.36" rx="9.21"/>
  <rect style="fill:#fff;" y="48.51" width="323.82" height="34.5"/>
  <linearGradient id="linear-gradient-card-gradient" x1="186.72" y1="165.56" x2="285.48" y2="165.56" gradientUnits="userSpaceOnUse">
    <stop offset="0" stop-color="#fff"/>
    <stop offset="1" stop-color="#fff" stop-opacity="0"/>
  </linearGradient>
  <rect style="fill:url(#linear-gradient-card-gradient);" x="186.72" y="157.6" width="98.76" height="15.92"/>
  <circle style="fill:#fff;" cx="59.16" cy="165.56" r="20.79"/>
  <circle style="fill:#fff;" cx="89.02" cy="165.57" r="20.79"/>
</svg>


<div class="download-buttons">
  <a class="btn btn-round" onclick="download_png('#card')">PNG</a>
  <a class="btn btn-round" onclick="download_svg('#card')">SVG</a>
</div>
