<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg id="wallet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 450.68 215.71">

  <linearGradient class="gradient-object" id="linear-gradient-wallet" y1="129.81" x2="450.68" y2="129.81" gradientUnits="userSpaceOnUse">
    <stop offset="0" class="stop1"/>
    <stop offset="1" class="stop2"/>
  </linearGradient>
  <rect style="fill:url(#linear-gradient-wallet);" y="43.9" width="450.68" height="171.81" rx="7.21"/>
  <path style="opacity:0.1;" d="M363.24,403.72v83.76a6.47,6.47,0,0,0,6.58,6.37H543a6.48,6.48,0,0,0,6.59-6.37V403.72a6.48,6.48,0,0,0-6.59-6.37H369.82A6.47,6.47,0,0,0,363.24,403.72Z" transform="translate(-109.7 -305.86)"/>
  <rect style="opacity:0.1;" x="11.97" y="73.96" width="198.65" height="132.43" rx="7.39"/>
  <path style="fill:#fff;" d="M526.68,379s0-55,0-58.48-286.37,19.78-352.59-14.62L156.07,379Z" transform="translate(-109.7 -305.86)"/>
  <line style="fill:none;stroke:#7a5bf5;stroke-miterlimit:10;" x1="172.83" y1="52.57" x2="288.46" y2="52.57"/>
  <line style="fill:none;stroke:#7a5bf5;stroke-miterlimit:10;" x1="161.09" y1="63.77" x2="276.72" y2="63.77"/>
  <linearGradient class="gradient-object" id="linear-gradient-wallet-2" x1="19.92" y1="74.3" x2="202.66" y2="74.3" gradientUnits="userSpaceOnUse">
    <stop offset="0" stop-color="#7a5bf5"/>
    <stop offset="1" stop-color="#cd94ef"/>
  </linearGradient>
  <path style="fill:url(#linear-gradient-wallet-2);" d="M23.57,60.2H199a3.65,3.65,0,0,1,3.65,3.65V88.39a0,0,0,0,1,0,0H19.92a0,0,0,0,1,0,0V63.85A3.65,3.65,0,0,1,23.57,60.2Z"/>
  <path style="fill:#fff;" d="M23.57,75.67H199a3.65,3.65,0,0,1,3.65,3.65v28a0,0,0,0,1,0,0H19.92a0,0,0,0,1,0,0v-28A3.65,3.65,0,0,1,23.57,75.67Z"/>
  <linearGradient id="linear-gradient-wallet-3" x1="19.92" y1="107.95" x2="202.66" y2="107.95" xlink:href="#linear-gradient-wallet-2"/>
  <path style="fill:url(#linear-gradient-wallet-3);" d="M23.57,97.33H199a3.65,3.65,0,0,1,3.65,3.65v17.59a0,0,0,0,1,0,0H19.92a0,0,0,0,1,0,0V101A3.65,3.65,0,0,1,23.57,97.33Z"/>
  <rect style="opacity:0.1;" x="242.13" y="73.96" width="2.58" height="132.43"/>
  <rect style="opacity:0.1;" x="220.47" y="73.96" width="2.58" height="132.43"/>
  <path style="fill:none;stroke:#7a5bf5;stroke-miterlimit:10;" d="M173.1,366.06,181.31,326c15.12,16.44,308.08,18.24,334.24,9.25L513.75,379" transform="translate(-109.7 -305.86)"/>
</svg>

<div class="download-buttons">
  <a class="btn btn-round" onclick="download_png('#wallet')">PNG</a>
  <a class="btn btn-round" onclick="download_svg('#wallet')">SVG</a>
</div>
