<div class="svg">
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
  <svg id="Phone" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>phone</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="iphone" transform="translate(177.000000, 47.000000)">
              <rect id="Rectangle" stroke="#151515" stroke-width="3" fill="#D8D8D8" x="0" y="0" width="245" height="506" rx="34"></rect>
              <rect id="Rectangle-Copy" fill="#FFFFFF" x="12" y="11" width="221" height="484" rx="27"></rect>
              <rect id="Rectangle" fill="#D8D8D8" x="62" y="475" width="121" height="8" rx="4"></rect>
              <path d="M62,6 L183,6 L183,17.5 C183,23.8512746 177.851275,29 171.5,29 L73.5,29 C67.1487254,29 62,23.8512746 62,17.5 L62,6 L62,6 Z" id="Rectangle" fill="#D8D8D8"></path>
          </g>
      </g>
  </svg>
</div>

<h3 class="h5 jcorgFilterTextChild">Phone Illustration</h3>

<div class="download-buttons">
  <a class="btn btn-round" onclick="download_png('#Phone')">PNG</a>
  <a class="btn btn-round" onclick="download_svg('#Phone')">SVG</a>
</div>
