<div class="svg">
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
  <svg id="Card" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(78.000000, 160.000000)" fill-rule="nonzero" stroke="#151515" stroke-width="3">
          <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="444" height="281" rx="9.21"></rect>
          <rect id="Rectangle" fill="#EDEDED" x="0" y="67" width="444" height="47"></rect>
          <rect id="Rectangle" fill="#FFFFFF" x="29" y="211" width="136" height="13"></rect>
          <rect id="Rectangle-Copy" fill="#FFFFFF" x="29" y="236" width="98" height="13"></rect>
          <circle id="Oval" fill="#FFFFFF" cx="352.5" cy="227.5" r="28.5"></circle>
          <circle id="Oval" fill="#FFFFFF" cx="393.5" cy="227.5" r="28.5"></circle>
      </g>
    </g>
  </svg>
</div>

<h3 class="h5 jcorgFilterTextChild">Card Illustration</h3>

<div class="download-buttons">
  <a class="btn btn-round" onclick="download_png('#Card')">PNG</a>
  <a class="btn btn-round" onclick="download_svg('#Card')">SVG</a>
</div>
