<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBT68RX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<div class="change-colors fixed-plugin fas">
		<p class="text-clothes"><img src="assets/img/leggins.svg">Trousers</p>
		<div class="colors badge-colors-trousers">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-clothes"><img src="assets/img/tshirt.svg">T-shirt</p>
		<div class="colors badge-colors-tshirt">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-clothes"><img src="assets/img/hair.svg">Hair</p>
		<div class="colors badge-colors-hair">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-object"><img src="assets/img/object.svg">Objects</p>
		<div class="badge-colors-objects">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>
	</div>

	{% include navbar.html %}

<div class="wrapper">


		 <div class="section section-ready">
			 <div class="container">
        <div class="col-md-8 mx-auto text-center my-5">
          <h1 class="title"> Made with Ira </h1>
          <h3 class="desc "> Explore examples built with Ira Design. </h3>
         <br>
       </div>
				<div class="row my-5 py-5">
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg1.html %}
						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-1')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-1')">SVG</a>
						</div>
					</div>
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg2.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-2')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-2')">SVG</a>
						</div>
					</div>
				</div>

				<div class="row my-5 py-5">
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg3.html %}
						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-3')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-3')">SVG</a>
						</div>
					</div>
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg4.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-4')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-4')">SVG</a>
						</div>

					</div>
				</div>

				<div class="row my-5 py-5">
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg5.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-5')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-5')">SVG</a>
						</div>
					</div>
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg6.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-6')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-6')">SVG</a>
						</div>
					</div>
				</div>
				<div class="row my-5 py-5">
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg7.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-7')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-7')">SVG</a>
						</div>
					</div>
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg8.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-8')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-8')">SVG</a>
						</div>
					</div>
				</div>
				<div class="row my-5 py-5">
					<div class="col-5 text-center m-auto hover-on">
						{% include examples/svg/svg9.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-9')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-9')">SVG</a>
						</div>
					</div>
					<div class="col-5 m-auto text-center hover-on">
						{% include examples/svg/svg10.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-10')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-10')">SVG</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-110"></div>
	</div>

		<div class="section section-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-12 text-left">
						<h2 class="title">Give it a chance</h2>
						<h4 class="desc">
							IRA comes with a great variety of ready-to-use features, gradients and components. You can use the samples as they are or you can add new block from the UI Kit.
						</h4>
						<a class="github-button" href="https://github.com/ira-design/ira-illustrations" data-icon="octicon-star" data-show-count="true" aria-label="Star ira-design on GitHub">Star</a>

					</div>
				</div>
				<div class="row">
					<div class="col-lg-5">
						<div class="info">
							<img src="assets/img/fordeveloper.png">
							<div class="description">
								<h4 class="info-title">For developers</h4>
								<p class="desc">
									Start building your mobile app in no time. Simply select the components you like
									and start customising to suit your needs.
								</p>
								<a href="https://github.com/ira-design/ira-illustrations/blob/SVG/SVG.zip?raw=true" class="btn btn-fill btn-round" target="_blank">Download SVG</a>
							</div>
						</div>
					</div>

					<div class="col-lg-2">
					</div>

					<div class="col-lg-5">
						<div class="info">
							<img src="assets/img/fordesigner.png">
							<div class="description">
								<h4 class="info-title">For designers</h4>
								<p class="desc mb-4">
									Build an app you love. 200+ individually designed components,
									each with a specific purpose.
								</p>
								<a href="https://github.com/ira-design/ira-illustrations/blob/PNG/PNG.zip?raw=true" class="btn btn-fill btn-round">Download PNG</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
					</div>
				</div>
			</div>
	 </div>

	 <div class="text-center section-sharing">
		 <div class="container">
			 <div class="row">
				 <div class="col-lg-8 m-auto text-center">
 						<h2 class="title" id="close-menu">Thank you for sharing!</h2>
						<div class="space-50"></div>
 				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12">
					 <a href="https://twitter.com/home?status=Ira%20Design%20-%20build%20your%20own%20amazing%20illustrations%20https%3A//www.iradesign.io" class="btn btn-twitter btn-round" target="_blank">
						 <i class="fab fa-twitter"></i> Twitter
					 </a>
					<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.iradesign.io" class="btn btn-facebook btn-round" target="_blank">
						 <i class="fab fa-facebook"></i> Facebook
					 </a>
				 </div>
			 </div>
			 <div class="space-180"></div>

		 </div>
	 </div>
  {% include footer.html %}
<div id="crowbar-workspace">
</div>

</body>

  <!--  jQuery and Bootstrap core files    -->
  <!-- <script src="assets/js/jquery.js" type="text/javascript"></script> -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>

	<script src="assets/bootstrap-4/js/bootstrap.min.js" type="text/javascript"></script>


    <!--  Get Shit Done Kit PRO Core javascript 	 -->
	<script src="assets/js/gsdk.js"></script>

	<script async defer src="https://buttons.github.io/buttons.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/svg-crowbar-export.js" id="script"></script>

	<script type="text/javascript">

	    $(document).ready(function(){
				var svgs = $("svg");
				for(var i = 0 ; i < svgs.length; i++){
					$(svgs[i]).attr("width",$(svgs[i]).width());
					$(svgs[i]).attr("height",$(svgs[i]).height());

				}
	        // the body of this function is in assets/js/now-ui-kit.js
					$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					});

					$('.dropdown-toggle').dropdown();



	    });
	</script>


		<script>
		function download_png (who) {
		  var parent = $(who).parent();
		  var newe = $(who).get(0).cloneNode(true);
		  // this is the main thing that does the work
		  var test = svg_crowbar(d3.select(who).node(), {
		    filename: $(who).attr('id'),
		    width: $(who).width(),
		    height: $(who).height(),
		    crowbar_el: d3.select("#crowbar-workspace").node(),
		  })
		  $(who).remove();
		  parent.append(newe);
		}
		function saveSvg(svgEl, name) {
		  applyStylesheets(svgEl)
		  svgEl.setAttribute("xmlns", "http://www.w3.org/2000/svg");
		  var svgData = svgEl.outerHTML;
		  var preface = '<?xml version="1.0" standalone="no"?>\r\n';
		  var svgBlob = new Blob([preface, svgData], {type:"image/svg+xml;charset=utf-8"});
		  var svgUrl = URL.createObjectURL(svgBlob);
		  var downloadLink = document.createElement("a");
		  downloadLink.href = svgUrl;
		  downloadLink.download = name;
		  document.body.appendChild(downloadLink);
		  downloadLink.click();
		  document.body.removeChild(downloadLink);
		}

		function download_svg(who){
		  var parent = $(who).parent();
		  var newe = $(who).get(0).cloneNode(true);
		  saveSvg($(who).get(0),"new.svg");
		  $(who).remove();
		  parent.append(newe);
		}

		function applyStylesheets(svgEl) {

		  // use an empty svg to compute the browser applied stylesheets
		  var emptySvg = window.document.createElementNS("http://www.w3.org/2000/svg", 'svg');
		  window.document.body.appendChild(emptySvg);
		  var emptySvgDeclarationComputed = getComputedStyle(emptySvg);
		  emptySvg.parentNode.removeChild(emptySvg);

		  // traverse the element tree and explicitly set all stylesheet values
		  // on an element. this is ripped from svg-crowbar
		  var allElements = traverse(svgEl);
		  var i = allElements.length;
		  while (i--){
		    explicitlySetStyle(allElements[i], emptySvgDeclarationComputed);
		  }
		}


		function explicitlySetStyle (element, emptySvgDeclarationComputed) {
		  var cSSStyleDeclarationComputed = getComputedStyle(element);
		  var i, len, key, value;
		  var computedStyleStr = "";
		  for (i=0, len=cSSStyleDeclarationComputed.length; i<len; i++) {
		    key=cSSStyleDeclarationComputed[i];
		    value=cSSStyleDeclarationComputed.getPropertyValue(key);
		    if (value!==emptySvgDeclarationComputed.getPropertyValue(key)) {
		      computedStyleStr+=key+":"+value+";";
		    }
		  }
		  element.setAttribute('style', computedStyleStr);
		}


		// traverse an svg and append all of the elements to the tree array. This
		// ignores some elements that can appear in <svg> elements but whose
		// children's styles should not be tweaked
		function traverse(obj){
		  var tree = [];
		  var ignoreElements = {
		    'script': undefined,
		    'defs': undefined,
		  };
		  tree.push(obj);
		  visit(obj);
		  function visit(node) {
		    if (node && node.hasChildNodes() && !(node.nodeName.toLowerCase() in ignoreElements)) {
		      var child = node.firstChild;
		      while (child) {
		        if (child.nodeType === 1) {
		          tree.push(child);
		          visit(child);
		        }
		        child = child.nextSibling;
		      }
		    }
		  }
		  return tree;
		}

		var t = $("#show-options").offset().top;
		var c = $("#close-menu").offset().top;



		$(document).scroll(function () {
		    if ($(window).height() + $(this).scrollTop() > t + 500) {
						 $(".fixed-plugin").css("right", "0");
						 $(".fixed-plugin .badge-colors-objects").css("opacity", "0.3");
						 $(".text-object").css("opacity", "0.3");
						 $(".text-clothes").css("opacity", "1");
						 $(".badge-colors-trousers").css("opacity", "1");
						 $(".badge-colors-hair").css("opacity", "1");
						 $(".badge-colors-tshirt").css("opacity", "1");

		    }

				else if ($(window).height() + $(this).scrollTop() > t - 500) {
						 $(".fixed-plugin").addClass("pull-right");
						 $(".fixed-plugin .badge-colors-objects").css("opacity", "1");
						$(".text-object").css("opacity", "1");
						$('.fixed-plugin').attr('style', function(i, style)
						{
						    return style && style.replace(/right[^;]+;?/g, '');
						});

				}

				if ($(window).height() + $(this).scrollTop() > c + 500) {

						 $(".fixed-plugin").addClass("pull-right");
						 $(".fixed-plugin .badge-colors-objects").css("opacity", "1");
						 $(".text-object").css("opacity", "1");
					 $('.fixed-plugin').attr('style', function(i, style)
					 {
							 return style && style.replace(/right[^;]+;?/g, '');
					 });

		    }

				else if ($(window).height() + $(this).scrollTop() > c - 1300) {
						  $(".fixed-plugin").css("right", "0");
							$(".text-clothes").css("opacity", "0.3");
							$(".badge-colors-trousers").css("opacity", "0.3");
							$(".badge-colors-hair").css("opacity", "0.3");
							$(".badge-colors-tshirt").css("opacity", "0.3");
							$(".fixed-plugin .badge-colors-objects").css("opacity", "1");
							$(".text-object").css("opacity", "1");

				}
		});

		</script>

</html>
