<!doctype html>
<html lang="en">
{% include path/path-assets.html %}
<head>
{% include head.html %}
</head>
<body class="examples-page">
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBT68RX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<div class="change-colors fixed-plugin fas">
		<p class="text-clothes"><img src="{{ path-general }}/assets/img/leggins.svg">Trousers</p>
		<div class="colors badge-colors-trousers">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-clothes"><img src="{{ path-general }}/assets/img/tshirt.svg">T-shirt</p>
		<div class="colors badge-colors-tshirt">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-clothes"><img src="{{ path-general }}/assets/img/hair.svg">Hair</p>
		<div class="colors badge-colors-hair">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-object"><img src="{{ path-general }}/assets/img/object.svg">Objects</p>
		<div class="badge-colors-objects">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>
	</div>


	{% include navbar.html %}

<div class="wrapper">


		 <div class="section section-header">
			 <div class="container">
				 <div class="row">
 					<div class="col-lg-5 text-sm-left text-center" style="z-index:2;">
 							 <h1 class="title">IRA Design Gallery</h1>
 							 <h4 class="desc">Discover IRA illustrations to power up your project.</h4>
 							 <h6 class="category category-absolute rellax-text" data-rellax-speed="-2">
 								 <a href="https://www.creative-tim.com?ref=iradesign-header" target="_blank">
 										 <img src="{{ path-general }}/assets/img/creative-tim.png" class="creative-tim-logo">
 										 Creative Tim
 								 </a>
 								 product.
 								 <a class="github-button" href="https://github.com/ira-design/ira-illustrations" data-icon="octicon-star" data-show-count="true" aria-label="Star ira-design on GitHub">Star</a>
 							 </h6>

 							 <div id="codefund" class="code-fund align-left"><!-- fallback content --></div>
 							 <script src="https://app.codefund.io/properties/538/funder.js" async="async"></script>

 							 <a href="https://dribbble.com/creativetim" class="btn btn-simple btn-dribbble btn-icon" target="_blank"><i class="fab fa-dribbble"></i></a>
 							 <a href="https://twitter.com/CreativeTim" class="btn btn-simple btn-twitter btn-icon" target="_blank"><i class="fab fa-twitter"></i></a>
 							 <a href="https://www.facebook.com/CreativeTim" class="btn btn-simple btn-facebook btn-icon" target="_blank"><i class="fab fa-facebook"></i></a>
 							 <a href="https://github.com/ira-design/ira-illustrations" class="btn btn-simple btn-github btn-icon" target="_blank"><i class="fab fa-github"></i></a>

 					 </div>
 					 <div class="col-lg-7">

 							 <img src="{{ path-general }}/assets/img/ira_gallery.png" class="header-image d-md-block d-none">


 					 </div>

 				 </div>
				<div class="row my-sm-5 py-sm-5">
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg1.html %}
						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-1')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-1')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg2.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-2')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-2')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg3.html %}
						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-3')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-3')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg4.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-4')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-4')">SVG</a>
						</div>

					</div>

					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg5.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-5')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-5')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg6.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-6')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-6')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg7.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-7')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-7')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg8.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-8')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-8')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg9.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-9')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-9')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg10.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-10')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-10')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg11.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-11')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-11')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg12.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-12')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-12')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg13.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-13')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-13')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg14.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-14')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-14')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg15.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-15')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-15')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg16.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-16')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-16')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg17.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-17')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-17')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg18.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-18')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-18')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg19.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-19')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-19')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg20.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-20')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-20')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg21.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-21')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-21')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg22.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-22')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-22')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg23.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-23')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-23')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg24.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-24')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-24')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg25.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-25')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-25')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg26.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-26')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-26')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg27.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-27')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-27')">SVG</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 text-center mx-auto hover-on px-sm-3 px-0">
						{% include examples/svg/svg29.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-29')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-29')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg30.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-30')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-30')">SVG</a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mx-auto text-center hover-on px-sm-3 px-0">
						{% include examples/svg/svg28.html %}

						<div class="download-buttons">
							<a class="btn btn-round" onclick="download_png('#example-28')">PNG</a>
							<a class="btn btn-round" onclick="download_svg('#example-28')">SVG</a>
						</div>
					</div>
					<a class="btn mx-auto mt-5" href="https://github.com/ira-design/ira-illustrations/blob/ALL/PNG%2BSVG.zip/?raw=true">Download ALL</a>
				</div>



			</div>
		</div>
	</div>

	{% include sections/using-ira.html %}

	{% include sections/give-it-chance.html %}


	 <div class="text-center section-sharing">
		 <div class="container">
			 <div class="row">
				 <div class="col-lg-8 m-auto text-center">
 						<h2 class="title" id="close-menu">Thank you for sharing!</h2>
						<div class="space-50"></div>
 				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12">
					 <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Firadesign.io%2F&amp;text=IRA%20Design%20by%20Creative%20Tim%3A%20Open-source%20illustrations%20that%20fits%20perfectly%20for%20any%20project%20you%20desire.%20%0A%23illustrations%20%23ux%20%23opensource%20%23design%20%23art%0A%0ACheck%20it%20out%20here%3A%20" class="btn btn-twitter " target="_blank">
						 <i class="fab fa-twitter"></i> Twitter
					 </a>
					<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.iradesign.io" class="btn btn-facebook " target="_blank">
						 <i class="fab fa-facebook"></i> Facebook
					 </a>
				 </div>
			 </div>
			 <div class="space-100"></div>

		 </div>
	 </div>


	{% include sections/needs.html %}

  {% include footer.html %}
<div id="crowbar-workspace">
</div>

</body>

  <!--  jQuery and Bootstrap core files    -->
  <!-- <script src="assets/js/jquery.js" type="text/javascript"></script> -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="{{ path-general }}/assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>

	<script src="{{ path-general }}/assets/bootstrap-4/js/bootstrap.min.js" type="text/javascript"></script>


    <!--  Get Shit Done Kit PRO Core javascript 	 -->
	<script src="{{ path-general }}/assets/js/gsdk.js"></script>

	<script async defer src="https://buttons.github.io/buttons.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>
  <script type="text/javascript" src="{{ path-general }}/assets/js/svg-crowbar-export.js" id="script"></script>
	<script type="text/javascript" src="{{ path-general }}/assets/js/bootstrap-notify.min.js" id="script"></script>
	<script type="text/javascript" src="{{ path-general }}/assets/js/ira-design.js" id="script"></script>

</html>
