<!doctype html>
<html lang="en">
{% include path/path-assets.html %}
<head>
{% include head.html %}
</head>
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBT68RX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

	<div class="change-colors fixed-plugin fas">
		<p class="text-clothes"><img src="{{ path-general }}/assets/img/leggins.svg">Trousers</p>
		<div class="colors badge-colors-trousers">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-clothes"><img src="{{ path-general }}/assets/img/tshirt.svg">T-shirt</p>
		<div class="colors badge-colors-tshirt">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-clothes"><img src="{{ path-general }}/assets/img/hair.svg">Hair</p>
		<div class="colors badge-colors-hair">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>

		<p class="text-object"><img src="{{ path-general }}/assets/img/object.svg">Objects</p>
		<div class="badge-colors-objects">
				<span class="badge filter badge-purple active" data-color="purple"></span>
				<span class="badge filter badge-info" data-color="blue"></span>
				<span class="badge filter badge-success" data-color="green"></span>
				<span class="badge filter badge-warning" data-color="orange"></span>
				<span class="badge filter badge-danger" data-color="red"></span>
		</div>
	</div>

	{% include navbar.html %}

<div class="wrapper">
		<div class="section section-header">
	     <div class="container">
				 <div class="row">
					 <div class="col-lg-5 text-sm-left text-center" style="z-index:2;">
		            <h1 class="title">{{ page.title }}</h1>
		          	<h4 class="desc">{{ page.description }}</h4>
								<h6 class="category category-absolute rellax-text" data-rellax-speed="-2">
                  <a href="https://www.creative-tim.com?ref=iradesign-header" target="_blank">
                      <img src="{{ path-general }}/assets/img/creative-tim.png" class="creative-tim-logo">
											Creative Tim
                  </a>
									product.
									<a class="github-button" href="https://github.com/ira-design/ira-illustrations" data-icon="octicon-star" data-show-count="true" aria-label="Star ira-design on GitHub">Star</a>
                </h6>

								<div id="codefund" class="code-fund align-left"><!-- fallback content --></div>
								<script src="https://app.codefund.io/properties/538/funder.js" async="async"></script>

								<a href="https://dribbble.com/creativetim" class="btn btn-simple btn-dribbble btn-icon" target="_blank"><i class="fab fa-dribbble"></i></a>
								<a href="https://twitter.com/CreativeTim" class="btn btn-simple btn-twitter btn-icon" target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="https://www.facebook.com/CreativeTim" class="btn btn-simple btn-facebook btn-icon" target="_blank"><i class="fab fa-facebook"></i></a>
								<a href="https://github.com/ira-design/ira-illustrations" class="btn btn-simple btn-github btn-icon" target="_blank"><i class="fab fa-github"></i></a>

		        </div>
						<div class="col-lg-7">

								<img src="{{ path-general }}/assets/img/{{ page.img }}" class="header-image d-md-block d-none">


						</div>

					</div>
				</div>
     </div>

		 {{ content }}


	</div>

		{% include sections/using-ira.html %}

		{% include sections/give-it-chance.html %}

	 <div class="text-center section-sharing">
		 <div class="container">
			 <div class="row">
				 <div class="col-lg-8 m-auto text-center">
 						<h2 class="title" id="close-menu">Thank you for sharing!</h2>
						<div class="space-50"></div>
 				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12">
					 <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Firadesign.io%2F&amp;text=IRA%20Design%20by%20Creative%20Tim%3A%20Open-source%20illustrations%20that%20fits%20perfectly%20for%20any%20project%20you%20desire.%20%0A%23illustrations%20%23ux%20%23opensource%20%23design%20%23art%0A%0ACheck%20it%20out%20here%3A%20" class="btn btn-twitter " target="_blank">
						 <i class="fab fa-twitter"></i> Twitter
					 </a>
					<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.iradesign.io" class="btn btn-facebook " target="_blank">
						 <i class="fab fa-facebook"></i> Facebook
					 </a>
				 </div>
			 </div>
			 <div class="space-180"></div>

		 </div>
	 </div>
	 {% include footer.html %}

<div id="crowbar-workspace">
</div>
</body>

  <!--  jQuery and Bootstrap core files    -->
  <!-- <script src="assets/js/jquery.js" type="text/javascript"></script> -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="{{ path-general }}/assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>

	<script src="{{ path-general }}/assets/bootstrap-4/js/bootstrap.min.js" type="text/javascript"></script>


    <!--  Get Shit Done Kit PRO Core javascript 	 -->
	<script src="{{ path-general }}/assets/js/gsdk.js"></script>

	<script async defer src="https://buttons.github.io/buttons.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>
    <script type="text/javascript" src="{{ path-general }}/assets/js/svg-crowbar-export.js" id="script"></script>
		<script type="text/javascript" src="{{ path-general }}/assets/js/bootstrap-notify.min.js" id="script"></script>

	<script type="text/javascript">

	    $(document).ready(function(){
				var svgs = $("svg");
				for(var i = 0 ; i < svgs.length; i++){
					$(svgs[i]).attr("width",$(svgs[i]).width());
					$(svgs[i]).attr("height",$(svgs[i]).height());

				}

				$('.dropdown-toggle').dropdown();

	    });
	</script>


		<script>
		function download_png (who) {
		  var parent = $(who).parent();
		  var newe = $(who).get(0).cloneNode(true);
		  // this is the main thing that does the work
		  var test = svg_crowbar(d3.select(who).node(), {
		    filename: $(who).attr('id'),
		    width: $(who).width(),
		    height: $(who).height(),
		    crowbar_el: d3.select("#crowbar-workspace").node(),
		  })
		  $(who).remove();
		  parent.append(newe);

				$.notify({
				title: 'Application Installing',
				message: 'Developing nations social innovation shift globalization, invest safeguards life-expectancy positive social change. Gender care, new approaches empowerment diversity.'
			},{
				type: 'pastel-info',
				delay: 180000,
				allow_dismiss: true,
				placement: {
					from: "bottom",
					align: "right"
				},
				template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
					'<h5 class="font-weight-bold">Thank you</h5>' +
					'<button type="button" class="close" data-notify="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
					'<div>' +
					'<p class="mb-2">Crediting isn’t required, but is appreciated and allows <b>Ira Design</b> to gain exposure. Help us with a share on social media.</p>' +
					'<div class="copy-code w-75">'+
					'<textarea id="textarea" class="w-100">'   +
					' <a href=“https://iradesign.io/”>Illustrations by IRA Design</a> '+
          '</textarea>'+
					'<br>'+
					'<button onclick="copy()">Copy</button>'+
					'</div>'+
					'<div class="share">' +
					'<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Firadesign.io%2F&amp;text=IRA%20Design%20by%20Creative%20Tim%3A%20Open-source%20illustrations%20that%20fits%20perfectly%20for%20any%20project%20you%20desire.%20%0A%23illustrations%20%23ux%20%23opensource%20%23design%20%23art%0A%0ACheck%20it%20out%20here%3A%20" class="btn btn-lg btn-twitter" target="_blank">'+
					'<i class="fab fa-twitter"></i>'+
					'</a>'+
					'<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.iradesign.io" class="btn btn-facebook" target="_blank">' +
					'<i class="fab fa-facebook"></i>'+
					'</a>' +
					'</div>'+
					'</div>' +
				'</div>'
			});
		}
		function saveSvg(svgEl, name) {
		  applyStylesheets(svgEl)
		  svgEl.setAttribute("xmlns", "http://www.w3.org/2000/svg");
		  var svgData = svgEl.outerHTML;
		  var preface = '<?xml version="1.0" standalone="no"?>\r\n';
		  var svgBlob = new Blob([preface, svgData], {type:"image/svg+xml;charset=utf-8"});
		  var svgUrl = URL.createObjectURL(svgBlob);
		  var downloadLink = document.createElement("a");
		  downloadLink.href = svgUrl;
		  downloadLink.download = name;
		  document.body.appendChild(downloadLink);
		  downloadLink.click();
		  document.body.removeChild(downloadLink);
		}

		function download_svg(who){
		  var parent = $(who).parent();
		  var newe = $(who).get(0).cloneNode(true);
		  saveSvg($(who).get(0),$(who).attr('id'));
		  $(who).remove();
		  parent.append(newe);
			$.notify({
			title: 'Application Installing',
			message: 'Developing nations social innovation shift globalization, invest safeguards life-expectancy positive social change. Gender care, new approaches empowerment diversity.'
		},{
			type: 'pastel-info',
			delay: 180000,
			allow_dismiss: true,
			placement: {
				from: "bottom",
				align: "right"
			},
			template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
				'<h5 class="font-weight-bold">Thank you</h5>' +
				'<button type="button" class="close" data-notify="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
				'<div>' +
				'<p class="mb-2">Crediting isn’t required, but is appreciated and allows <b>Ira Design</b> to gain exposure. Help us with a share on social media.</p>' +
				'<div class="share">' +
				'<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Firadesign.io%2F&amp;text=IRA%20Design%20by%20Creative%20Tim%3A%20Open-source%20illustrations%20that%20fits%20perfectly%20for%20any%20project%20you%20desire.%20%0A%23illustrations%20%23ux%20%23opensource%20%23design%20%23art%0A%0ACheck%20it%20out%20here%3A%20" class="btn btn-twitter" target="_blank">'+
				'<i class="fab fa-twitter"></i>'+
				'</a>'+
				'<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.iradesign.io" class="btn btn-facebook" target="_blank">' +
				'<i class="fab fa-facebook"></i>'+
				'</a>' +
				'</div>'+
				'</div>' +
			'</div>'
		});
		}

		function applyStylesheets(svgEl) {

		  // use an empty svg to compute the browser applied stylesheets
		  var emptySvg = window.document.createElementNS("http://www.w3.org/2000/svg", 'svg');
		  window.document.body.appendChild(emptySvg);
		  var emptySvgDeclarationComputed = getComputedStyle(emptySvg);
		  emptySvg.parentNode.removeChild(emptySvg);

		  // traverse the element tree and explicitly set all stylesheet values
		  // on an element. this is ripped from svg-crowbar
		  var allElements = traverse(svgEl);
		  var i = allElements.length;
		  while (i--){
		    explicitlySetStyle(allElements[i], emptySvgDeclarationComputed);
		  }
		}


		function explicitlySetStyle (element, emptySvgDeclarationComputed) {
		  var cSSStyleDeclarationComputed = getComputedStyle(element);
		  var i, len, key, value;
		  var computedStyleStr = "";
		  for (i=0, len=cSSStyleDeclarationComputed.length; i<len; i++) {
		    key=cSSStyleDeclarationComputed[i];
		    value=cSSStyleDeclarationComputed.getPropertyValue(key);
		    if (value!==emptySvgDeclarationComputed.getPropertyValue(key)) {
		      computedStyleStr+=key+":"+value+";";
		    }
		  }
		  element.setAttribute('style', computedStyleStr);
		}


		// traverse an svg and append all of the elements to the tree array. This
		// ignores some elements that can appear in <svg> elements but whose
		// children's styles should not be tweaked
		function traverse(obj){
		  var tree = [];
		  var ignoreElements = {
		    'script': undefined,
		    'defs': undefined,
		  };
		  tree.push(obj);
		  visit(obj);
		  function visit(node) {
		    if (node && node.hasChildNodes() && !(node.nodeName.toLowerCase() in ignoreElements)) {
		      var child = node.firstChild;
		      while (child) {
		        if (child.nodeType === 1) {
		          tree.push(child);
		          visit(child);
		        }
		        child = child.nextSibling;
		      }
		    }
		  }
		  return tree;
		}

		var t = $("#show-options").offset().top;
		var c = $("#close-menu").offset().top;



		$(document).scroll(function () {
		    if ($(window).height() + $(this).scrollTop() > t + 500) {
						 $(".fixed-plugin").css("right", "0");
						 $(".fixed-plugin .badge-colors-objects").css("opacity", "0.3");
						 $(".text-object").css("opacity", "0.3");
						 $(".text-clothes").css("opacity", "1");
						 $(".badge-colors-trousers").css("opacity", "1");
						 $(".badge-colors-hair").css("opacity", "1");
						 $(".badge-colors-tshirt").css("opacity", "1");

		    }

				else if ($(window).height() + $(this).scrollTop() > t - 500) {
						 $(".fixed-plugin").addClass("pull-right");
						 $(".fixed-plugin .badge-colors-objects").css("opacity", "1");
						$(".text-object").css("opacity", "1");
						$('.fixed-plugin').attr('style', function(i, style)
						{
						    return style && style.replace(/right[^;]+;?/g, '');
						});

				}

				if ($(window).height() + $(this).scrollTop() > c + 500) {

						 $(".fixed-plugin").addClass("pull-right");
						 $(".fixed-plugin .badge-colors-objects").css("opacity", "1");
						 $(".text-object").css("opacity", "1");
					 $('.fixed-plugin').attr('style', function(i, style)
					 {
							 return style && style.replace(/right[^;]+;?/g, '');
					 });

		    }

				else if ($(window).height() + $(this).scrollTop() > c - 1300) {
						  $(".fixed-plugin").css("right", "0");
							$(".text-clothes").css("opacity", "0.3");
							$(".badge-colors-trousers").css("opacity", "0.3");
							$(".badge-colors-hair").css("opacity", "0.3");
							$(".badge-colors-tshirt").css("opacity", "0.3");
							$(".fixed-plugin .badge-colors-objects").css("opacity", "1");
							$(".text-object").css("opacity", "1");

				}
		});

		$(window).scroll(function() {
    var scroll = $(window).scrollTop();

		    if (scroll >= 300) {
		        $(".navbar").addClass("shadow-sm");
		    } else {
		        $(".navbar").removeClass("shadow-sm");
		    }
		});

		</script>

</html>
