<!--
1. Se importa SVG-ul pe care vrem sa il modificam
2. Se pune in values variabilele in format JSON
3. La inlocuirea id-urilor se pune textul specific exemplului (Ex:ex12,ex100 etc)
4. Dupa ce se da copy paste din inspect sa se stearga <style>...</style>
-->


<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
  <div class="row">
    <div class="col-6">
      <!-- Import SVG -->
      {% include examples/old-svg/svg30.html %}
    </div>
    <div class="col-6">
      <button class="btn" onclick="transform()">Transform</button>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script>
  // Variabilele in format JSON
  const values = {
    "st0":"fill:#F8F8FF",
    "st1":"fill:#F5F5FC",
    "st2":"fill:#FFFFFF",
    "st3":"fill:#BAC6F2",
    "st4":"fill:#B1C1F2",
    "st5":"fill:#E9EDFA",
    "st6":"fill:none;stroke:#BAC6F2;stroke-width:3;stroke-linecap:round;stroke-linejoin:round",
    "st7":"fill:none;stroke:#BAC6F2;stroke-width:6;stroke-linecap:round;stroke-linejoin:round",
    "st8":"fill:#BAC5F4",
    "st9":"fill:#FA5F5D",
    "st10":"fill:#FDBC4E",
    "st11":"fill:#37CD58",
    "st12":"fill:url(#SVGID_1_)",
    "st13":"fill:url(#SVGID_2_)",
    "st14":"fill:url(#SVGID_3_)",
    "st15":"fill:url(#SVGID_4_)",
    "st16":"fill:url(#SVGID_5_)",
    "st17":"fill:#E9EDFB",
    "st18":"fill:url(#SVGID_6_)",
    "st19":"fill:url(#SVGID_7_)",
    "st20":"fill:url(#SVGID_8_)",
    "st21":"fill:url(#SVGID_9_)",
    "st22":"fill:url(#SVGID_10_)",
    "st23":"fill:url(#SVGID_11_)",
    "st24":"fill:url(#SVGID_12_)",
    "st25":"fill:#4B44BE",
    "st26":"fill:url(#SVGID_13_)",
    "st27":"fill:url(#SVGID_14_)",
    "st28":"fill:url(#SVGID_15_)",
    "st29":"fill:url(#_Path__1_)",
    "st30":"opacity:7.000000e-02;enable-background:new    ",
    "st31":"fill:#EFEFEF",
    "st32":"fill:url(#SVGID_16_)",
    "st33":"fill:url(#SVGID_17_)",
    "st34":"fill:url(#SVGID_18_)",
    "st35":"fill:url(#SVGID_19_)",
    "st36":"fill:url(#SVGID_20_)",
    "st37":"fill:#FCFCFC",
    "st38":"fill:#58CAEA",
    "st39":"fill:url(#SVGID_21_)",
    "st40":"fill:url(#SVGID_22_)",
    "st41":"fill:url(#SVGID_23_)",
    "st42":"fill:url(#SVGID_24_)",
    "st43":"fill:url(#SVGID_25_)"
};

var i, j, k;
var number = document.querySelectorAll("path,rect,ellipse,polygon,circle,polyline");

function transform() {
  var i,go,gh,gs,gt;

  var number = document.querySelectorAll("path,rect,ellipse,polygon,circle,polyline,g,text");
  var number_gradient_object = document.querySelectorAll(".gradient-object");
  var number_gradient_hair = document.querySelectorAll(".gradient-hair");
  var number_gradient_shirt = document.querySelectorAll(".gradient-shirt");
  var number_gradient_trousers = document.querySelectorAll(".gradient-trousers");


  // adaugarea propritatilor inline
  for(i = 0; i < number.length; i++){
    var component = document.querySelectorAll("path,rect,ellipse,polygon,circle,polyline,g,text")[i];

    for (const [key, value] of Object.entries(values)) {
      // console.log(key, value);

        if(component.classList.contains(key)){
          if(component.className.baseVal.length>=9) //daca are cel putin 2 clase
          {
            component.setAttribute("style", value);

          }
          else{
          component.removeAttribute('class');
          component.setAttribute("style", value);
          }
        }
    }
  }

  //Inlocuirea id-urilor pentru a nu se suprapune cu celelalte
  $("svg").children().each(function() {
        // Se schimba mereu textul cu cel specific exercitiului
       $(this).html($(this).html().replace(/SVGID/g,"ex30"));
   });




  // Adaugare de stop1 si stop2

  for(gt = 0; gt < number_gradient_trousers.length; gt++){

  document.getElementsByClassName("gradient-trousers")[gt].innerHTML =
  '<stop offset="0" class="stop1"></stop>' + '<stop offset="1" class="stop2"></stop>';

  }

  for(gs = 0; gs < number_gradient_shirt.length; gs++){

  document.getElementsByClassName("gradient-shirt")[gs].innerHTML =
  '<stop offset="0" class="stop1"></stop>' + '<stop offset="1" class="stop2"></stop>';

  }

  for(gh = 0; gh < number_gradient_hair.length; gh++){

  document.getElementsByClassName("gradient-hair")[gh].innerHTML =
  '<stop offset="0" class="stop1"></stop>' + '<stop offset="1" class="stop2"></stop>';

  }

  for(go = 0; go < number_gradient_object.length; go++){

    document.getElementsByClassName("gradient-object")[go].innerHTML =
    '<stop offset="0" class="stop1"></stop>' + '<stop offset="1" class="stop2"></stop>';

  }

  //Pentru bag, chair, pig, cup, phone, grill, table, bank se
  //pune clasa gradient-object si atributul data-color

  var datesnr= document.querySelectorAll('*[id^="Cup"],*[id^="bag"],*[id^="coin"],*[id^="Armchair"],*[id^="Table"],*[id^="chair"]');
  var titlesnr = document.querySelectorAll('title');
  for(j = 0; j < datesnr.length; j++){
    var dates = document.querySelectorAll('*[id^="Cup"],*[id^="bag"],*[id^="coin"],*[id^="Armchair"],*[id^="Table"],*[id^="chair"]')[j];

    if(!dates.classList.contains("test")) //daca are cel putin 2 clase
    {
      dates.setAttribute("class", "gradient-object");
      dates.setAttribute("data-color", "purple");


    }
  }

  //daca nu are id verificam daca are titlul "pig with coins || bank" si punem
  // pe parinte class si data-color
  for(k = 0; k < titlesnr.length; k++){
    var titles = document.querySelectorAll('title')[k];
    if (titles.textContent == 'Pig with coins' || titles.textContent == 'bank')
    {
      titles.parentElement.setAttribute("class","gradient-object");
      titles.parentElement.setAttribute("data-color","purple");
    }
  }




}

</script>
</body>
