<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
  <div class="row">
    <div class="col-6">
      {% include examples/old-svg/svg11.html %}
    </div>
    <div class="col-6">
      <button class="btn">Transform</button>
    </div>
  </div>
  <script>
  const test = {
   "st0":"fill:#F8F8FF",
   "st1":"fill:#F5F5FC",
   "st2":"fill:#E9EDFB",
   "st3":"fill:#FFFFFF",
   "st4":"fill:#E9EDFA",
   "st5":"fill:#BAC5F4",
   "st6":"fill:#A2B7ED",
   "st7":"fill:#E9EDFC",
   "st8":"fill:#BAC4F6",
   "st9":"fill:none;stroke:#FFFFFF;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10",
   "st10":"fill:#4B44BE",
   "st11":"fill:url(#SVGID_1_)",
   "st12":"fill:url(#SVGID_2_)",
   "st13":"fill:url(#SVGID_3_)",
   "st14":"fill:url(#_Path__1_)",
   "st15":"opacity:7.000000e-02;enable-background:new    ",
   "st16":"fill:#EFEFEF",
   "st17":"fill:url(#SVGID_4_)",
   "st18":"fill:#4A41BC",
   "st19":"fill:url(#SVGID_5_)",
   "st20":"fill:url(#SVGID_6_)",
   "st21":"fill:url(#SVGID_7_)",
   "st22":"fill:url(#SVGID_8_)",
   "st23":"fill:url(#SVGID_9_)",
   "st24":"fill:url(#SVGID_10_)",
   "st25":"fill:url(#SVGID_11_)",
   "st26":"fill:url(#SVGID_12_)",
   "st27":"fill:url(#SVGID_13_)",
   "st28":"fill:url(#SVGID_14_)",
   "st29":"fill:url(#SVGID_15_)",
   "st30":"fill:url(#SVGID_16_)",
   "st31":"fill:#7A5BF5"
};

var component = document.getElementsByTagName("path").className;

  // for (const [key, value] of Object.entries(test)) {
    // console.log(key, value);
      console.log(component);

  // }
  </script>
</body>
